.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  app-button {
    margin: 0 5px;
  }
}
