{{'restaurant.hello' | translate }}
<br>
{{'restaurant.message' | translate}}

<ng-container *ngFor="let res of (restaurantsSub$ | async)">
  <div class="container" [routerLink]="['detail', res.id]" [state]="{data: res.food}">
    <h4>{{ res.title }}</h4>
    <p>{{ res.desc }}</p>
  </div>
</ng-container>

<div class="add">
  <app-button [text]="'Add restaurant TD'" [color]="'green'" (buttonClicked)="redirectToFormTD()"></app-button>
  <app-button [text]="'Add restaurant RF'" [color]="'green'" (buttonClicked)="redirectToFormRF()"></app-button>
</div>

