.container {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;  border-radius: 4px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #385170;
  color: #ececec;

  &:hover {
    background-color: rgba(56, 81, 112, 0.75);
  }

  h4 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 0.8rem;
  }
}


